/* START QUOTE.SCSS */

.quote {
    background: url('../../assets/images/quote-background.jpg');
    padding: 90px 0;
    position: relative;

    @media #{$desktop} {
        padding: 165px 0 128px 0;
    }

    &::before,
    &::after {
        content: '';
        -webkit-mask: url(../../assets/images/border-background.svg) repeat-x;
        mask: url(../../assets/images/border-background.svg) repeat-x;
        -webkit-mask-size: cover;
        mask-size: cover;
        background: url(../../assets/images/quote-background.jpg);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: -23px;
        max-height: 24px;
        z-index: 2;
    }

    &::after {
        top: initial;
        bottom: -23px;
        transform: rotate(180deg)
    }

    &__title {
        position: relative;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media #{$desktop} {
            font-size: 40px;
            margin-bottom: 42px;
            padding: 40px;
        }

        &::before {
            content: '';
            background: url('../../assets/images/quote.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 29.62px;
            height: 24px;
            margin: auto;

            @media #{$desktop} {
                position: absolute;
                left: 0;
                top: 0;
                width: 49.37px;
                height: 40px;
            }
        }

        &::after {
            @media #{$desktop} {
                content: url('../../assets/images/quote.svg');
                transform: scaleX(-1);
                position: absolute;
                right: 0;
                bottom: 10px;
            }
        }
    }
  
    &__author {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        margin-bottom: 8px;

        @media #{$desktop} {
            font-size: 20px;
        }
    }

    &__description {
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;

        @media #{$desktop} {
            font-size: 16px;
        }
    }
}

/* END QUOTE.SCSS */