$ocre: #D8B465;
$yellow: #ECC747;
$black: #1B1B1B;
$dark-grey: #646363;
$grey: #DFDBD6;
$light-grey: #F3F2F0;
$lighter-grey: #F8F8F7;
$green: #1A2C17;
$beige: #FFFBF3;

// Responsive
$phone: "screen and (max-width: 600px)";
$large-phone: "screen and (min-width: 600px)";
$tablet: "screen and (min-width: 768px)";
$laptop: "screen and (min-width: 992px)";
$desktop: "screen and (min-width: 1200px)";
$large: "screen and (min-width: 1400px)";